#preview {
    border: 1px solid lightblue;
    width: 148px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

h1{
  /* color: cyan; */
}


.no-image{
    background-image: url("../assets/img/noprofile.png");
}




#test{

}