<h1 class="mt-2">File Uploading</h1>
<hr>

<div>Enter User Details </div>

<hr>

<div class="mb-3">
    <label for="txt-full-name" class="form-label">Enter Full Name </label>
    <input type="txt" class="form-control" id="txt-full-name" placeholder="Eg-Saman Frenando">
</div>
<div class="mb-3">
    <label for="txt-user-name" class="form-label">Enter User Name </label>
    <input type="txt" class="form-control" id="txt-user-name" placeholder="Eg-SamanFrenando">
</div>
<div class="mb-3">
    <label for="txt-password" class="form-label">Enter Password</label>
    <input type="txt" class="form-control" id="txt-password">
</div>

<div class="mb-3">
    <label for="txt-profile" class="form-label">Enter Full Name </label>
    <input #file (change)="updatePic($event)" type="file" class="form-control" id="txt-profile" placeholder="Eg-Saman Frenando" accept="image/*">
    <div class="d-flex gap-2 align-items-start">
        <div id="preview" class="no-image mt-3 ms-3 " [style.background-image]="imageUrl"></div>
        <button class="btn btn-danger mt-3 ms-3" (click)="removePic(file)">Remove</button>
    </div>
</div>

<div class="mt-3" >
    <button class="btn btn-primary">Sign Up</button>
</div> 


